// colors
$color-primary-purple: rgb(94, 66, 176);
$color-secodary-purple: rgb(144, 113, 234);
$color-primary-black: rgb(0, 0, 0);
$color-secodary-black: rgb(10, 14, 52);
$color-white: #ffffff;
$color-primary-grey: rgb(193, 193, 193);
$color-secondary-grey: rgb(231, 231, 231);
$color-tertiary-grey: rgb(245, 246, 247);

// text

.bold{
  font-weight: bold;
}

.light{
  font-weight: 300;
}
